@import url(http://fonts.googleapis.com/css?family=Ubuntu);

input:focus, textarea:focus, button:focus {
    outline: 0 !important;
}

div.alert {
  margin-top: 5px;
}

body {
  font-family: 'Ubuntu';
}

#main_container {
  padding-top: 20px;
}

.no-selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.clickable {
  cursor: pointer;
}
