@import "fonts";

.devise {
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Minecraft";
  }
  label {
    // font-family: 'PixelAria';
  }

  .input-group {
    input.mizzou-email {
      text-align: right;
    }
    .input-group-addon {
      padding-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 0;
      background-color: inherit;
    }
  }

  input {
    text-align: center;
  }
}
