.devise {
  text-align: center;

  h2 {
    // font-family: "Minecraft";
  }
  label {
    // font-family: 'PixelAria';
  }

  #error_explanation {
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .input-group {
    input.mizzou-email {
      text-align: right;
    }
    .input-group-addon {
      padding-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 0;
      background-color: inherit;
    }
  }

  input {
    text-align: center;
  }

  .devise-links {
    margin-top: 10px;
  }

  &.devise-edit {
    text-align: left;

    input {
      text-align: left;
    }
  }
}
