@import "bootswatch/paper/variables";

.ReactFlipCard {
  // margin: 25px;
  text-align: center;
}
.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  box-sizing: border-box;
  width: 600px;
  height: (600px * 0.716);

  div.desc{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
  }

  p.desc-content {
    margin: 5px;
  }

  .fix{
      width: 100%;
      padding: 0px;
  }
}

.ReactFlipCard__Front,
.ReactFlipCard__Back {
  border-radius: 4px;

  & > div {
    height: 100%;
  }

  .tags-top {
    top: 10px;
    left: 15px;
  }

  .tags-bottom {
    bottom: 7px;
    left: 10px;
  }

  .tags-bottom, .tags-top {
    position: absolute;
    font-size: 14px;

    .label {
      border-color: #aaa;
      border-style: solid;
      border-width: 1px;
    }

    .label-default {
      color: #aaa;
      background-color: #fff;
    }

    a {
      margin-right: 3px;

      &:hover, &:visited, &:focus, &:active {
        text-decoration: none;
      }
      &:hover {
        .label-default {
          background-color: #aaa;
          color: #fff;
        }
      }
    }
  }
}

.ReactFlipCard__Front {
  .card-content {
    height: 100%;
  }
}
.ReactFlipCard__Back {
  .card-content {
    height: 100%;
  }

  .btn-toolbar {
    position: absolute;
    bottom: 10px;
  }
}

.card-content {
  overflow-y: scroll;
}
