#manager {
  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 250px;
    height: (250px * 0.716);

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 4px;

    & > div {
      height: 100%;
    }

    div.edit-controls {
      a.left {
        position: relative;
        float: left;
        top: 5px;
        left: 5px;
      }

      a.right {
        position: relative;
        float: right;
        top: 5px;
        right: 5px;
      }

      i {
        font-size: 24px;
        color: #ddd;
        &:hover {
          color: #999;
        }
      }
    }

    .tags-bottom {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 14px;

      .label {
        border-color: #aaa;
        border-style: solid;
        border-width: 1px;
      }

      .label-default {
        color: #aaa;
        background-color: #fff;
      }

      a {
        margin-right: 3px;

        &:hover, &:visited, &:focus, &:active {
          text-decoration: none;
        }
        &:hover {
          .label-default {
            background-color: #aaa;
            color: #fff;
          }
        }
      }
    }
  }
  .ReactFlipCard__Front {
    .card-content {
      height: 100%;
    }
  }
  .ReactFlipCard__Back {
    .card-content {
    }
  }

  .card-content {
    overflow-y: scroll;
    padding: 10px;
    p {
      line-height: 15px;
    }
  }

  #new_card_button {
    display: block;
    width: 100%;
  }

  #manager_header {
    margin-bottom: 10px;
  }

  #manager_body {

  }
}

#new_card_modal, #edit_card_modal {
  textarea {
    height: 100px;
  }

  .modal-footer {
    text-align: left;
  }

  .modal-footer-content {
    width: 570px;
    margin-right: 10px;

    button {
      float: right;
    }
  }

  .filepicker {
    min-height: 50px;

    .dz-message {
      margin: 0;
    }
  }
}
